body {
    background-color: $clr-light;
}

.hero {

    *::selection {
        background-color: $clr-light;
        color: $clr-dark;
    }
    
    min-height: calc(100vh - 1rem);
    min-height: calc(100svh - 1rem);
    background-color: $clr-light;
    margin: .5rem;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $clr-primary;
    isolation: isolate;

    &.header-fixed,
    &.menu-active {
        isolation: auto;
    }

    &-video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        z-index: -1;
        filter: hue-rotate(269deg) brightness(141%);
        animation-name: cambiar-fondo;
        animation-duration: 30s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-delay: 2.5s;

        @keyframes cambiar-fondo {
            0% {
                filter: hue-rotate(269deg) brightness(141%);
            }
            50% {
                filter: hue-rotate(290deg) brightness(141%);
            }
            100% {
                filter: hue-rotate(269deg) brightness(141%);
            }
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        transition: .2s;

        &-logo {
            padding: 2rem;
            padding-bottom: 0;

            img {
                max-width: 6rem;
            }
        }

        .logo-img-dark {
            display: none;
        }

        &-nav {
            padding: 1.25rem 1rem 1.5rem 1.5rem;
            background-color: $clr-light;
            border-bottom-left-radius: 1.4rem;
            isolation: isolate;
            position: relative;

            .menu {
                display: flex;
                list-style-type: none;

                li {
                    font-family: $ff-titles;
                    transform-origin: left;

                    a {
                        color: $clr-dark;
                        border: 1px solid $clr-dark;
                        padding: .25rem .75rem;
                        border-radius: 100vmax;
                        transition: .2s;
                        display: inline-flex;
                        background-color: $clr-light;

                        &.active {
                            background-color: $clr-secondary;
                            border-color: $clr-secondary;
                            color: $clr-dark;
                            padding-inline: 3rem;
                        }

                        @media (hover: hover) {
                            &:hover {
                                background-color: $clr-secondary;
                                border-color: $clr-secondary;
                                color: $clr-dark;
                                padding-inline: 3rem;
                            }
                        }
                    }

                    &:last-child {
                        margin-left: 1rem;
                    }
                }

                @include query(850) {
                    display: none;
                }
            }

            .open-menu {
                color: $clr-dark;
                border: 1px solid $clr-dark;
                padding: .25rem .75rem;
                border-radius: 100vmax;
                transition: .2s;
                display: inline-flex;
                background-color: $clr-light;
                display: none;
                cursor: pointer;

                @include query(850) {
                    display: inline-flex;
                }

                @media (hover: hover) {
                    &:hover {
                        background-color: $clr-secondary;
                        border-color: $clr-secondary;
                        color: $clr-dark;
                        padding-inline: 3rem;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                right: 100%;
                top: 0;
                height: 1.4rem;
                width: 2.8rem;
                background-color: transparent;
                border-top-right-radius: 1.4rem;
                box-shadow: 1.4rem 0 0 $clr-light;
                z-index: -1;
                opacity: 1;
                visibility: visible;
                transition: .2s;
                transition-delay: .2s;
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                right: 0;
                height: 1.4rem;
                width: 2.8rem;
                background-color: transparent;
                border-top-right-radius: 1.4rem;
                box-shadow: 1.4rem 0 0 $clr-light;
                z-index: -1;
                transition: .1s;
                transition-delay: .1s;
            }
        }

        &.fixed {
            position: fixed;
            width: 100%;
            top: 0;
            background-color: $clr-light-transparent;;
            z-index: 9999;
            padding-right: 2rem;
            backdrop-filter: blur(5px);


            .hero-header-logo {
                padding-block: 0;
            }

            .logo-img-light {
                display: none;
            }

            .logo-img-dark {
                display: block;
            }

            .hero-header-nav {
                background-color: transparent;
                
                &::before,
                &::after {
                    box-shadow: 0 0 0 transparent;
                    background-color: transparent;
                    border: 0;
                    transition: 0s;
                    transition-delay: 0s;
                    transform: translate(50px, -50px);
                }
            }
        }

        &.menu-active {
            position: fixed;
            width: 100%;
            height: 100vh;
            height: 100dvh;
            background-color: #efefefc0;
            flex-direction: column;
            justify-content: center;
            z-index: 999;
            backdrop-filter: blur(5px);
            inset: 0;
            padding: 0;

            .hero-header-logo {

                .logo-img-light {
                    display: none;
                }
                .logo-img-dark {
                    display: block;
                }
            }

            .hero-header-nav {
                background: transparent;

                &::before,
                &::after {
                    display: none;
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.4rem;
                    text-align: center;

                    .menu-item {
                        margin: 0;
                    }
                }
            }

            .open-menu {
                display: none;
            }
        }
    }

    &-footer {
        display: flex;

        *::selection {
            background-color: $clr-dark;
            color: $clr-light;
        }

        &-container {
            padding: 1.25rem 2rem 1.5rem 1rem;
            background-color: $clr-light;
            border-top-right-radius: 1.4rem;
            isolation: isolate;
            display: flex;
            gap: 2.4rem;
            position: relative;

            @include query(650) {
                gap: 1.5rem;
            }

            @include query(450) {
                gap: 1rem;
            }

            @include query(400) {
                display: grid;
                grid-template-columns: auto auto;
            }

            @include query(300) {
                display: flex;
                flex-direction: column;
            }

            .stat {
                display: flex;
                flex-direction: column;
                gap: 0;

                &-number {
                    font-family: $ff-titles;
                    font-weight: 900;
                    font-size: 4rem;
                    line-height: .9;

                    @include query(950) {
                        font-size: 3rem;
                    }

                    @include query(650) {
                        font-size: 2.5rem;
                    }

                    @include query(450) {
                        font-size: 2rem;
                    }
                }

                &-word {

                    @include query(550) {
                        font-size: .9rem;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                left: 100%;
                bottom: 0;
                height: 1.4rem;
                width: 2.8rem;
                background-color: transparent;
                border-bottom-left-radius: 1.4rem;
                box-shadow: -1.4rem 0 0 $clr-light;
                z-index: -1;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 100%;
                height: 1.4rem;
                width: 2.8rem;
                background-color: transparent;
                border-bottom-left-radius: 1.4rem;
                box-shadow: -1.4rem 0 0 $clr-light;
                z-index: -1;
            }
        }
    }

    &-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        } 

        &-title {
            font-family: $ff-titles;
            font-size: 6rem;
            position: relative;
            isolation: isolate;
            color: $clr-light;
            font-weight: 900;
            width: max-content;

            @include query(1000) {
                font-size: 5rem;
            }

            @include query(850) {
                font-size: 4rem;
            }

            @include query(700) {
                font-size: 3rem;
            }

            @include query(550) {
                font-size: 2rem;
                
                &:first-child {
                    font-size: 3rem;
                }
            }

            @include query(400) {
                font-size: 1.5rem;
                
                &:first-child {
                    font-size: 3rem;
                }
            }

            .title-letter {
                @extend .hero-container-title;
                font-size: 1em;

                &:first-child {
                    font-size: 1em;
                }
            }

            .icon {
                width: .7em;
                transition: .2s;
                transform-origin: center;
                color: $clr-light;
                fill: $clr-light;

                &-code {
                    @extend .icon;
                }

                &-flecha {
                    @extend .icon;
                }

                &-emoji {
                    @extend .icon;
                }
            }
                
            @media (hover: hover) {
                &:hover {
                    .icon {
                        transform: scale(1) !important;
                        width: .7em !important;
                    }
                }
            }
        }
    }
}



.close-menu {
    color: $clr-dark;
    border: 1px solid $clr-dark;
    padding: .25rem .75rem;
    border-radius: 100vmax;
    transition: .2s;
    background-color: $clr-light;
    display: none;
    cursor: pointer;

    &.active {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1rem;
    }
}